/*Formato dos botões do menu*/
.bot_men {
  background: white;
  color: black;
  font-size: 0.9em;
  margin-top: 0.3em;
  height: auto;
  min-height: 30px;
  padding-top: 0.5em;
  font-weight: bold;
  position: relative;
  margin-left: 2em;
  border: none;
  transform: translateY(-6px);
  cursor: pointer;
  text-align: center;
  display: flex;
}


.container-botoes {
  border-radius: 0;
  width: 100%;
  margin: 0;
  background-color: white;

  height: auto;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  align-items: center;
  display: flex;
  box-shadow: none;
  padding-top: 10px;
  justify-content: center;
}

/*Animação do botão do menu*/
.bot_men:hover {
  border-bottom: 2px solid black;
}

/*Formato da parte do conteúdo*


/*Formato do cabeçalho*/
.cabeçalho1 {
  border-radius: 0;
  width: 50%;
  margin: 0;
  background-color: #45d438;
  min-height: 2vw;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  border: none;
  box-shadow: none;
  padding-top: 0;
  justify-content: left;
  display: flex;
  padding-left: 10px;
}

.cabecalho-container {
  display: flex;
  justify-content: space-between;
}

.cabeçalho2 {
  border-radius: 0;
  width: 50%;
  margin: 0;
  background-color: #45d438;
  min-height: 2vw;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  border: none;
  box-shadow: none;
  padding-top: 0;
  justify-content: right;
  display: flex;

}

/* Formato do Rodapé*/
.rodapé {
  background-color: grey;
  width: 100%;
  height: 4.5em;
  margin: 0;
  border-radius: 0;
  padding: 0;
  position: relative;
  justify-content: end;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* Hide the scroll for the entire body */
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* Hide the scroll for the principal container */
}

.card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: black;
  font-size: 20px;
}

.input-item {
  padding: 20px;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button2 {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 40%;
  background-color: #ccc;
  color: black;
  border: none;
  cursor: pointer;
}

.divider {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.signup-text {
  text-align: center;
  margin-top: 10px;
}

.signup-button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

/* Styles for the initial card */
.initial-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('fundo.jpg');
  background-size: cover;
  background-position: center;
  color: #1c5717;
  font-weight: bold;
  font-size: 4em;
  text-align: center;

  /* Hide the scroll for the initial card */
}

.cont-ifr {
  width: 100%;
  max-width: 100vw;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  /* Ajuste o tamanho conforme necessário */
  height: 25px;
  /* Ajuste o tamanho conforme necessário */
  background-color: white;
  color: #fff;
  border: none;
  border-radius: 50%;
  /* Torna o botão circular */
  cursor: pointer;
  text-align: center;
}

.round-button {
  width: 25px;
  height: 25px;
  background-color: white;
  color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}

.options {
  display: none;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.options button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilos padrão */
.principal1 {
  width: 100%;
  min-height: 60vw;
  height: auto;
  border-radius: 0em;
  margin: 0px;
  background-color: white;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.notification {
  width: 90%;
  height: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
 padding-top: 10px;
 padding-bottom: 10px; 
 margin-bottom: 10px;
}

.notification:hover {
  background-color: #ccc;
}

.container-botoes {
  border-radius: 0;
  width: 100vw;
  margin: 0;
  background-color: white;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  align-items: center;
  display: flex;
  box-shadow: none;
  padding-top: 10px;
  justify-content: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  /* Ajuste a largura conforme necessário */
  background-color: #fefefe;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
  /* Coloca o modal acima de outros elementos */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* Adiciona uma sombra ao redor do modal */
  height: 400px;
}

/* Estilos para o fundo escuro semi-transparente */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  /* Adiciona uma sombra ao fundo */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  
  /* Adiciona rolagem ao conteúdo do modal */
}

/* Estilos para o botão */
.round-button {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#iframeContainer {
height: 170vh;
}


#iframeContainer iframe {
width: 100%;
height: 100%;
border: none; /* Remover borda se necessário */
}

/* Media Query para telas menores (por exemplo, tablets e smartphones) */
@media screen and (max-width: 768px) {
  .principal1 {
    min-height: auto;
  }

  .container-botoes {
    flex-direction: column;
  }

  .bot_men {
    margin-left: 0;
    margin-bottom: 5px;
  }
}

/* Estilos adicionais conforme necessário para outros tamanhos de tela */