body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .atividade {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.6s ease-out, box-shadow 0.3s ease-out, transform 0.3s ease-out;
    background-color: white; /* Troque para branco */
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    margin-bottom: 10px;
}

.atividade:hover {
    background-color: #ffffff; /* Troque para branco */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

  
  .detalhes {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
    background-color: rgb(219, 219, 219);
    padding-left: 10px;
  }
  
  .modal {
    display: none;
    position: fixed; /* Alterado de relative para fixed */
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    margin-top: 20px;
  }
  
  .add_atv{
    background-color: green;
    border-radius: 5px;
    border:none;
    padding:7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color:white
  }
  .add_atv:hover{
    background-color: rgb(58, 184, 46);
  }
  
  .form-container {
    margin-top: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .form-container input {
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  .form-container button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .form-container button.close {
    background-color: grey;
    margin-left: 10px;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .excluir-button {
    position: absolute;
    top: 13px;
    right: 5px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 7px;
  }
  